<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/authorization/login}" th:object="${project}" method="post">
    <div>
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" th:field="*{}" required />
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" required />
    </div>
    <div>
        <label for="password">Пароль:</label>
        <input type="password" id="password" th:field="*{password}" required />
    </div>
    <div>
        <label for="confirmedPassword">Подтвердите пароль:</label>
        <input type="password" id="confirmedPassword" required />
    </div>

    <button type="submit">Submit</button>
</form>
</body>
</html>