<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/authorization/login}" method="post">
    <label for="username">Username</label>
    <input type="text" id="username" name="username">

    <label for="password">Password</label>
    <input type="password" id="password" name="password">

    <label>
        <input type="checkbox" id="togglePassword"> Show Password
    </label>

    <button type="submit">Submit</button>
</form>

<script>
    document.getElementById('togglePassword').addEventListener('change', function () {
        let passwordInput = document.getElementById('password');
        if (this.checked) {
            passwordInput.type = 'text';
        } else {
            passwordInput.type = 'password';
        }
    });
</script>
</body>
</html>